<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
                background-color: #f9f9f9;
                color: #333;
            }
            a {
                background: #dc3545;
                color: white;
                text-decoration: none;
            }
            a:hover {
                background: #a71d2a;
            }
        </style>
        </style>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo app</title>
        {% block head %}{% endblock %}
    </head>
    
    <body>
    {% block body %}{% endblock %}
    </body>
</html>